<% title "Input address" %>
 <%#= render :partial => 'users/district_includes/map.js', :locals => {:district => @district, :coords => @coords} %>
<p>Is this your district?</p>
<%= @address_attempt %>
<%= form_tag 'district' do %>
    <p>Based on your ip address, your district is: <b><%= @district %></b> in the state of <%= @state.to_us_state %>.</p>
    <%#= image_tag "http://maps.google.com/maps/api/staticmap?center=#{@coords}&zoom=12&size=500x300&markers=#{@coords}&sensor=false" %>
	<div id="googlemap" style="width: 100%; height: 355px; border: 1px solid blue; margin-top: 1em"></div>
    <div id="map_canvas" style="width:500px; height:300px"></div>
    <%= hidden_field_tag :location, @coords %>
    <p>Is this correct?</p>
    <div class='actions'>
      <%= submit_tag 'Yes' %>
    </div>
<% end %>

<p>If not, you can input your address below:</p>
<!-- float left -->
<p>Input your address <%= @user.name.titlecase %></p>
<div class="component_float_left_400" style="background-color:#adff2f; height:200px;">
  <%= form_tag 'district' do %>

      <%#= errors_for(blog)%>

      <div class="field">
        <%= label_tag :street_address %>
        <%= text_field_tag :street_address, nil, :size => 40 %>
      </div>

      <div class="field">
        <%= label_tag :city %>
        <%= text_field_tag :city, nil, :size => 40 %>
      </div>

      <div class="field">
        <%= label_tag :state %>
        <%= text_field_tag :state %>
      </div>

      <div class="field">
        <%= label_tag :zip %>
        <%= text_field_tag :zip %>
      </div>

      <div class='clear'></div>

      <div class='actions'>
        <%= submit_tag 'Submit Address' %>
      </div>
  <% end %>
</div>
<div class="component_float_right_400" style="background-color:#adff2f; height:200px;">
  <%= form_tag 'district' do %>

      <%#= errors_for(blog)%>

      <div class="field">
        <%= label_tag :zip_code %>
        <%= text_field_tag :zip_code, nil, :size => 20 %>
      </div>

      <div class='clear'></div>

      <div class='actions'>
        <%= submit_tag 'Submit Zip Code' %>
      </div>
  <% end %>


</div>
<div class="clear_both"></div>
<script type="text/javascript">

var map;

if (!GBrowserIsCompatible()) {
	//alert("This page uses Google Maps, which is unfortunately not supported by your browser.");
} else {
	var WMS_URL = 'http://www.govtrack.us/perl/wms-cd.cgi?';
	//var G_MAP_LAYER_FILLED = createWMSTileLayer(WMS_URL, "cd-filled,district=NJ12", null, "image/gif", null, null, null, .25);
	var G_MAP_LAYER_FILLED = createWMSTileLayer(WMS_URL, "cd-filled,state=<%= @state %>", null, "image/gif", null, null, null, .25);
	var G_MAP_LAYER_OUTLINES = createWMSTileLayer(WMS_URL, "cd-outline,district=<%= @district %>", null, "image/gif", null, null, null, .66, "Data from GovTrack.us");
	var G_MAP_OVERLAY = createWMSOverlayMapType([G_NORMAL_MAP.getTileLayers()[0], G_MAP_LAYER_FILLED, G_MAP_LAYER_OUTLINES], "Overlay");

	document.getElementById("googlemap").style.height = (screen.height - 485) + "px";
	map = new GMap2(document.getElementById("googlemap"));
	map.enableContinuousZoom()
	map.removeMapType(G_SATELLITE_MAP);
	map.addMapType(G_MAP_OVERLAY);
	map.addControl(new GLargeMapControl());
	//map.addControl(new GMapTypeControl());
	//map.addControl(new GOverviewMapControl());
	map.addControl(new GScaleControl());
	map.setMapType(G_MAP_OVERLAY);

	map.setCenter(new GLatLng(<%= @coords %>), 9);
	createMarker(<%= @coords %>,<%= @state %>, '12');
}

function createMarker(x, y, s, d) {
	var marker = new GMarker(new GPoint(x, y));
	GEvent.addListener(marker, "click", function() {
		if (d == 0) d = "At Large";
		marker.openInfoWindowHtml("This is " + s + "'s district " + d + "!");
	});
	map.addOverlay(marker);
}
</script>