
<% title "Input address" %>
 <%#= render :partial => 'users/district_includes/map.js', :locals => {:district => @district, :coords => @coords} %>
<p>Is this your district?</p>
<%= @address_attempt %>

<script type="text/javascript">
    var d_data = <%= render file: "#{Rails.root}/data/district_data/#{@district}.json" %>;
</script>

<%= form_tag 'district' do %>
    <p>Based on your ip address, your district is: <b><%= @district %></b> in the state of <%= @state.to_us_state %>.</p>
    <%#= image_tag "http://maps.google.com/maps/api/staticmap?center=#{@coords}&zoom=12&size=500x300&markers=#{@coords}&sensor=false" %>
    <div id="users-district-display" style="width:500px; height:300px"></div>

    <%= hidden_field_tag :location, @coords %>
    <p>Is this correct?</p>
    <div class='actions'>
      <%= submit_tag 'Yes' %>
    </div>
<% end %>

<p>If not, you can input your address below:</p>
<!-- float left -->
<p>Input your address, <%= @user.name.titlecase %></p>

<div class="component_float_left_400" style="background-color:#adff2f; height:200px;">
  <%= form_tag 'district' do %>

      <%#= errors_for(blog)%>

      <div class="field">
        <%= label_tag :street_address %>
        <%= text_field_tag :street_address, nil, :size => 40 %>
      </div>

      <div class="field">
        <%= label_tag :city %>
        <%= text_field_tag :city, nil, :size => 40 %>
      </div>

      <div class="field">
        <%= label_tag :state %>
        <%= text_field_tag :state %>
      </div>

      <div class="field">
        <%= label_tag :zip %>
        <%= text_field_tag :zip %>
      </div>

      <div class='clear'></div>

      <div class='actions'>
        <%= submit_tag 'Submit Address' %>
      </div>
  <% end %>
</div>
<div class="component_float_right_400" style="background-color:#adff2f; height:200px;">
  <%= form_tag 'district' do %>

      <%#= errors_for(blog)%>

      <div class="field">
        <%= label_tag :zip_code %>
        <%= text_field_tag :zip_code, nil, :size => 20 %>
      </div>

      <div class='clear'></div>

      <div class='actions'>
        <%= submit_tag 'Submit Zip Code' %>
      </div>
  <% end %>


</div>
<div class="clear_both"></div>