%h4 Admin Actions

%span{class: 'label notice'} Notice

%ul
  %li= link_to( t(:new_page), new_page_path ) if can? :manage, Page
  %li= link_to( t(:new_blog), new_blog_path ) if can? :manage, Blog
  %li= link_to( t(:manage_templates), templates_pages_path) if can? :manage, PageTemplate
  %li= link_to( t(:manage_menus), site_menus_path) if can? :manage, SiteMenu

  %li= link_to( (twitter_name||'Twitter'), twitter_link, :target => 'ext_tools') if twitter_link

- if current_role?(:author)
  - if session[:draft_mode]
    = link_to t(:hide_drafts), draft_mode_path(0)
  - else
    = link_to t(:show_drafts), draft_mode_path(1)
