- title "#{@chamber} Results"

%p{:style => "text-align: center"}
  %b= "112th Congress"
%p{:style => "text-align: center"}
  = "Roll Call Popularity Search"

<<<<<<< HEAD
= will_paginate @bills

%table.center{:align => "center"}
=======
-#= will_paginate @bills
-# Don't know how to paginate
/ NO NO ! must be in stylesheet
:css
  table {border:2px solid black;}
  table {padding: 10px;}
= will_paginate @bills
%table{:align => "center"}
>>>>>>> d4e6800b7f4dee4b2f80b2041c99b5bc84a71d22
  %tr
    %th Bill
    %th Your Vote
    %th Your District Vote
    %th Your Rep. Vote
    %th Result
  - @bills.each do |bill|
    %tr
      %td= bill.title
      %td= "bill.user.vote"
      %td= "bill.user.district_vote"
      %td= "bill.user.rep_vote"
      %td= "bill.result"




