- title "112th Congress"

%p{:style => "text-align:center"}
  = "House District/Legislators"
  = "Drop-Down Box Search Box"

= will_paginate @districts

%table.center{:align => "center"}
  %tr
    %th District
    %th Rep Name
    %th Rep Pic
    %th Party
  - @districts.paginate.each do |d|
    - rep = d.the_rep
    %tr
      %td= d.name unless rep.nil?
      %td= rep.full_name unless rep.nil?
      %td= image_tag rep.image_location_small unless rep.nil?
      %td= rep.party unless rep.nil?

%p{:style => "text-align:center"}
  = "Roll Call"
  = "Drop-Down Box Search Box"

= will_paginate @bills

%table.center{:align => "center"}
  %tr
    %th Bill
    %th FOR
    %th ABSTAIN
    %th AGAINST
    %th Result
  - @bills.each do |r|
    %tr
      %td= r.bill_number
      %td= "11"
      %td= "11"
      %td= "11"
      %td= "olds"