- title "112th Congress"

%p{:style => "text-align:center"}
  = "House District/Legislators"
  = "Drop-Down Box Search Box"

= will_paginate @districts

%table.center{:align => "center"}
  %tr
    %th District
    %th Rep Name
    %th Rep Pic
    %th Party
  - @districts.paginate.each do |d|
    - rep = d.the_rep
    %tr
      %td= d.name unless rep.nil?
      %td= rep_title unless rep.nil?
      %td= image_tag rep.image_location_small unless rep.nil?
      %td= rep.party unless rep.nil?


-#- @districts.paginate.each do |d|
    - rep = d.the_rep
  %ul
    %li
      = "#{d.name} with the rep #{rep_title(rep)}"
      %p
        %b Image:
        = image_tag rep.image_location_small unless rep.nil?
      %p
        %b Party:
        = rep.party unless rep.nil?

