- title "112th Congress"

= will_paginate @districts

- @districts.paginate.each do |d|
  - rep = d.the_rep
  %ul
    %li
      = "#{d.name} with the rep #{rep_title(rep)}"
      %p
        %b Image:
        = image_tag rep.image_location_small unless rep.nil?
      %p
        %b Party:
        = rep.party unless rep.nil?

