- title "#{@chamber.titleize} Results"

%p{:style => "text-align: center"}
  %b 112th Congress
%p{:style => "text-align: center"}
  = "Roll Call Popularity Search"

= will_paginate @bills

%table.center{:align => "center"}
  %tr
    %th Bill
    %th Your Vote
    - if @chamber == 'house'
      %th Your District Vote
      %th Your Rep. Vote
    - else
      %th Your State Vote
      %th Senator
      %th
    %th Result
  - @bills.each do |bill|
    %tr
      %td= link_to bill.bill_title, bill
      %td= bill.users_vote(@user)
      - if @chamber == 'house'
        %td= @user.get_district.get_votes_tally(@bill)
        %td= @user.reps_vote_on(@bill)
      - else
        %td= @pg_state.get_votes_tally(bill)
        %td= @user.senators_vote_on(bill)
      %td= bill.bill_state




