- title "#{@chamber.titleize} Results"

%p{:style => "text-align: center"}
  %b 112th Congress
%p{:style => "text-align: center"}
  = "Roll Call Popularity Search"

= will_paginate @bills
- unless @bills.empty?
  %table.center{:align => "center"}
    %tr
      %th Bill
      %th Your Vote
      - if @chamber == 'house'
        %th Your District Vote
        %th Your Rep. Vote
      - else
        %th= @user.us_state
        %th= "Senators #{@user.senators.map(&:last_name).to_sentence}"
        %th
      %th Result
    - @bills.each do |bill|
      %tr
        %td= link_to bill.bill_title, bill
        %td= bill.users_vote(@user)
        - if @chamber == 'house'
          %td= @user.get_district.get_votes_tally(@bill)
          %td= @user.reps_vote_on(@bill)
        - else
          %td= short_tally(@pg_state.get_votes_tally(bill))
          %td= @user.senators_vote_on(bill)
        %td= bill.passed? ? "Passed" : "Failed"
- else
  There are no bills that have been voted on (sounds like I need to pull rolls)




