- title "Senate Results"

%p{:style => "text-align: center"}
  %b= "112th Congress"
%p{:style => "text-align: center"}
  = "Roll Call Popularity Search"

-#paginate


%table.center{:align => "center"}
  %tr
    %th Bill
    %th Your Vote
    %th Your District Vote
    %th Your Rep. Vote
    %th Result
  -#- @bills.each do |bill|
    %tr
      %td= bill.title
      %td= "bill.user.vote"
      %td= "bill.user.district_vote"
      %td= "bill.user.rep_vote"
      %td= "bill.result

%p we will work on this

