<p id="notice"><%= notice %></p>

<% title @bill.bill_title || "no title yet" %>

<div id="vote_region">
  <%= determine_vote(@user).html_safe %>
</div>

<%# unless @bill.tally.empty? %>
<div id="tally_region">
  <div id="all_users_tally">
    <b>All users:</b>
    <%= @bill.get_overall_users_vote %>
  </div>
  <% if @user && @user.registered? %>
      <div id="district_tally">
        <b>District tally for <%= @user.district %>:</b>
        <%= @bill.get_votes_by_name_and_type(@user.district, :district) %>
      </div>
      <% if @bill.bill_type == "h" %>
          <div id="representative_vote">
            <b>Rep Vote</b>
            <%= @user.reps_vote_on(@bill).to_s %>
          </div>
      <% else %>
          <div id="senator_vote">
            <b>Senator votes</b>
            <% votes = @user.senators_vote_on(@bill) %>
            <ul>
              <li><%= "#{votes.first[:senator]}: #{votes.first[:vote].to_s}" %></li>
              <li><%= "#{votes.last[:senator]}: #{votes.last[:vote].to_s}" %></li>
            </ul>
          </div>
      <% end %>
  <% end %>
  <div id="all_members_votes">
    <!-- what did all members vote on this bill? -->
    <% mt = @bill.members_tally %>
    <% if mt %>
        <b>Members tally:</b> <%= mt %>
    <% end %>
  </div>
  <!-- time for groups tally -->
  <% if @user %>
      <div id="joined_groups_tally">
        <p>Joined Groups:</p>
        <ul>
          <% @user.joined_groups_tallies(@bill).each do |tally| %>
              <li><%= tally[:name] %>:<%= tally[:tally] %></li>
          <% end %>
        </ul>
      </div>
      <div id="followed_groups_tally">
        <p>Followed groups</p>
        <ul>
          <% @user.followed_groups_tallies(@bill).each do |tally| %>
              <li><%= tally[:name] %>:<%= tally[:tally] %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
</div>

<div id="user_comment_region">
  <b>Comments:</b>
  <% if @bill.comments.any? %>
      <!-- COMMENTS -->
      <%= content_tag :div, :id => 'comments' do %>
          <h5><%= t(:number_of_comments, :count => @bill.comments.count) %></h5>
          <%= render :partial => @bill.comments, :locals => {:commentable => @bill,
                                                                :path_components => @bill} %>
      <% end %>
  <% end %>
  <% if true # @posting.blog.allow_public_comments || (@posting.blog.allow_comments && user_signed_in?)  %>

      <%= content_tag :div, :id => 'new_comment_form' do %>
          <h5><%= t(:post_a_comment) -%></h5>
          <%= form_for [@bill, comment = @bill.comments.build(:name => current_user_field(:name, ''),:email => current_user_field(:email, ''))] do |f| %>

              <%= render :partial => '/comments/comment_fields',
                         :locals => {:f => f, :commentable => @bill, :comment => comment}
              %>
          <% end %>
      <% end %>
  <% end %>
  <!-- add comment here -->
</div>

<p>
  <b>Title:</b>
  <%= @bill.bill_title %>
</p>

<p>
  <b>Bill state:</b>
  <%= @bill.bill_state %><!-- error checking? -->
</p>

<p>
  <b>Last action</b>
  <%= last_action(@bill) %>
</p>

<% unless @bill.summary.empty? %>
    <p>
      <b>Summary:</b>
      <%= @bill.summary %>
    </p>
<% end %>

<p>
  <b>Last action on:</b>
  <%= @bill.bill_actions.first.first %> |
  <%= @bill.bill_actions.first.last %>
</p>

<p>
  <b>Sponsor:</b>
  <%= link_to @bill.sponsor.full_title, legislator_path(@bill.sponsor) %>
</p>

<p>
  <b>Cosponsors count:</b>
  <%= @bill.cosponsors_count %>
</p>

<p>
  <b>Bill html:</b>
  <%= @bill.bill_html.html_safe if @bill.bill_html %>
</p>

<p>
  <b>Summary word count:</b>
  <%= @bill.summary_word_count %>
</p>

<p>
  <b>Text word count:</b>
  <%= @bill.text_word_count %>
</p>

<p>
  <b>State:</b>
  <%= @bill.bill_state %>
</p>

<p>
  <b>Text updated on:</b>
  <%= @bill.text_updated_on %>
</p>



<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
