<p id="notice"><%= notice %></p>

<p>
  <b>Congress:</b>
  <%= @bill.congress %>
</p>

<p>
  <b>Bill type:</b>
  <%= @bill.bill_type %>
</p>

<p>
  <b>Bill number:</b>
  <%= @bill.bill_number %>
</p>

<p>
  <b>Short title:</b>
  <%= @bill.short_title %>
</p>

<p>
  <b>Official title:</b>
  <%= @bill.official_title %>
</p>

<p>
  <b>Summary:</b>
  <%= @bill.summary %>
</p>

<p>
  <b>Sponsor:</b>
  <%= @bill.sponsor.full_title %>
</p>

<p>
  <b>Last action on:</b>
  <%= @bill.last_action_on %>
</p>

<p>
  <b>Last action text:</b>
  <%= @bill.last_action_text %>
</p>

<p>
  <b>Enacted on:</b>
  <%= @bill.enacted_on %>
</p>

<p>
  <b>Average rating:</b>
  <%= @bill.average_rating %>
</p>

<p>
  <b>Cosponsors count:</b>
  <%= @bill.cosponsors_count %>
</p>

<p>
  <b>Govtrack:</b>
  <%= @bill.govtrack_id %>
</p>

<p>
  <b>Bill html:</b>
  <%= @bill.bill_html.html_safe %>
</p>

<p>
  <b>Summary word count:</b>
  <%= @bill.summary_word_count %>
</p>

<p>
  <b>Text word count:</b>
  <%= @bill.text_word_count %>
</p>

<p>
  <b>State:</b>
  <%= @bill.state %>
</p>

<p>
  <b>Text updated on:</b>
  <%= @bill.text_updated_on %>
</p>

<p>
  <b>Hidden:</b>
  <%= @bill.hidden %>
</p>

<p>
  <b>Sponsor name:</b>
  <%= @bill.sponsor_name %>
</p>


<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
