%p#notice= notice
- title @bill.bill_title || "no title yet"

%br/

%p{:align => "center"}
  %b Title:
  = @bill.long_title
- unless @bill.summary.empty?
  %p{:align => "center"}
    %b Summary:
    = @bill.summary
%p{:align => "center"}
  %b Sponsor:
  = link_to @bill.sponsor.full_title, legislator_path(@bill.sponsor)
%p{:align => "center"}
  %b Status:
  = @bill.bill_state
%p{:align => "center"}
  = "Official Text"

= render :partial => 'comments_subpage', :locals => {:bill => @bill}

%p{:align => "center"}
  = "District Tallies"
  = "Drop-Down Box Search Box"

%table.center{:align => "center"}
  %tr
    %th District
    %th Tally
    %th Rep Vote
    %th Rep Name
    %th Party
  - @districts.paginate.each do |d|
    - rep = d.the_rep
    %tr
      %td= link_to d.name, d unless rep.nil?
      %td= ".3 .2 .5"
      %td= "bill.legislator.vote"
      %td= rep.last_name
      %td= rep.party


%span{:style => "color:red;"} Please vote - get involved!
#vote_region
  = determine_vote(@user)
- if @user && @user.registered?
  #member_vote
    - if @bill.bill_type == "h"
      = determine_rep_vote(@user.reps_vote_on(@bill), @user.district)
    - else
      = determine_senators_votes(@user.senators_vote_on(@bill))
  #district_tally
    In your district (#{@user.district}), #{format_votes_inline(@bill.get_votes_by_name_and_type(@user.district, :district))}
#tally_region
  #all_users_tally
    %h3 All polco users:
    = format_votes(@bill.get_overall_users_vote)
  #all_members_votes
    / what did all members vote on this bill?
    - mt = @bill.members_tally
    - if mt
      %h3 Congressional members tally:
      = format_votes(mt)
  .clear
  / time for groups tally
  - if @user && @user.registered?
    #joined_groups_tally
      %h3 Joined Groups:
      %ul
        - @user.joined_groups_tallies(@bill).each do |tally|
          %li
            %b>= tally[:name]
            \:#{format_votes(tally[:tally])}
    #followed_groups_tally
      %h3 Followed groups:
      %ul
        - @user.followed_groups_tallies(@bill).each do |tally|
          %li
            %b>= tally[:name]
            \:#{format_votes(tally[:tally])}
    .clear

\#{link_to 'Back', bills_path}

%h2
  Stuff to add
%p
  @district_tallys
