%p#notice= notice
- title @bill.bill_title || "no title yet"

%br

%p
  %b Title:
  = @bill.long_title
- unless @bill.summary.empty?
  %p{:align => "center"}
    %b Summary:
    = @bill.summary
%p{:align => "center"}
  %b Sponsor:
  = link_to @bill.sponsor.full_title, legislator_path(@bill.sponsor)
%p{:align => "center"}
  %b Status:
  = @bill.bill_state
%p{:align => "center"}
  = link_to "Official Text", full_bill_text_path(@bill)

= render :partial => 'comments_subpage', :locals => {:bill => @bill}

/here is the district count region

- if @bill.activity?

  %p shouldn't this whole region be centered?

  %p{:align => "center"}
    = "District Tallies"
    = "Drop-Down Box Search Box"

  = will_paginate @districts

  %table.center{:align => "center"}
    %tr
      %th District
      %th Tally
      = "%th Rep Vote" if @rolled
      %th Rep Name
      %th Party
    - @districts.paginate.each do |d|
      - rep = d.the_rep
      %tr
        %td= link_to d.name, d unless rep.nil?
        %td= short_tally(d.get_votes_tally(@bill)) unless rep.nil?
        - if @rolled
          %td= @bill.find_member_vote(rep) unless rep.nil?
        %td= rep.full_name unless rep.nil?
        %td= rep.party unless rep.nil?

  %p{:align => "center"}
    = "Joined & Followed Groups"
    %p Drop-Down Box Search Box

  = will_paginate @PolcoGroups

  %table.center{:align => "center"}
    %tr
      %th Group Name
      %th Tally
    - @PolcoGroups.each do |p|
      %tr
        %td= p.name
        %td= p.description
        %td= short_tally(p.get_votes_tally(@bill))
- else
  %p No activity yet on this bill

#vote_region
  = determine_vote(@user)
- if @user && @user.registered?
  #member_vote
    - if @bill.bill_type == "h"
      = determine_rep_vote(@user.reps_vote_on(@bill), @user.district)
    - else
      = determine_senators_votes(@user.senators_vote_on(@bill))
  #district_tally
    In your district (#{@user.district}), #{format_votes_inline(@bill.get_votes_by_name_and_type(@user.district, :district))}
#tally_region
  #all_users_tally
    %h3 All polco users:
    = format_votes(@bill.get_overall_users_vote)
  #all_members_votes
    / what did all members vote on this bill?
    - mt = @bill.members_tally
    - if mt
      %h3 Congressional members tally:
      = format_votes(mt)
  .clear
  / time for groups tally
  - if @user && @user.registered?
    #joined_groups_tally
      %h3 Joined Groups:
      %ul
        - @user.joined_groups_tallies(@bill).each do |tally|
          %li
            %b>= tally[:name]
            \:#{format_votes(tally[:tally])}
    #followed_groups_tally
      %h3 Followed groups:
      %ul
        - @user.followed_groups_tallies(@bill).each do |tally|
          %li
            %b>= tally[:name]
            \:#{format_votes(tally[:tally])}
    .clear

%h2
  Stuff to add
%p
  @district_tallys
