<p id="notice"><%= notice %></p>

<% title @bill.bill_title || "no title yet" %>

<span style="color:red;">Please vote - get involved!</span>
<div id="vote_region">
  <%= determine_vote(@user) %>
</div>
<% if @user && @user.registered? %>
    <div id="member_vote">
      <% if @bill.bill_type == "h" %>
          <%= determine_rep_vote(@user.reps_vote_on(@bill), @user.district) %>
      <% else %>
          <%= determine_senators_votes(@user.senators_vote_on(@bill)) %>
      <% end %>
    </div>
    <div id="district_tally">
      In your district (<%= @user.district %>), <%= format_votes_inline(@bill.get_votes_by_name_and_type(@user.district, :district)) %>
    </div>
<% end %>

<div id="tally_region">
  <div id="all_users_tally">
    <h3>All polco users:</h3>
    <%= format_votes(@bill.get_overall_users_vote) %>
  </div>
  <div id="all_members_votes">
    <!-- what did all members vote on this bill? -->
    <% mt = @bill.members_tally %>
    <% if mt %>
        <h3>Congressional members tally:</h3>
        <%= format_votes(mt) %>
    <% end %>
  </div>
  <div class="clear"></div>
  <!-- time for groups tally -->
  <% if @user && @user.registered? %>
      <div id="joined_groups_tally">
        <h3>Joined Groups:</h3>
        <ul>
          <% @user.joined_groups_tallies(@bill).each do |tally| %>
              <li><b><%= tally[:name] %></b>:<%= format_votes(tally[:tally]) %></li>
          <% end %>
        </ul>
      </div>
      <div id="followed_groups_tally">
        <h3>Followed groups:</h3>
        <ul>
          <% @user.followed_groups_tallies(@bill).each do |tally| %>
              <li><b><%= tally[:name] %></b>:<%= format_votes(tally[:tally]) %></li>
          <% end %>
        </ul>
      </div>
      <div class="clear"></div>
  <% end %>
</div>

<div id="user_comment_region">
  <b>Comments:</b>
  <% if @bill.comments.any? %>
      <!-- COMMENTS -->
      <%= content_tag :div, :id => 'comments' do %>
          <h5><%= t(:number_of_comments, :count => @bill.comments.count) %></h5>
          <%= render :partial => @bill.comments, :locals => {:commentable => @bill,
                                                             :path_components => @bill} %>
      <% end %>
  <% end %>
  <% if true # @posting.blog.allow_public_comments || (@posting.blog.allow_comments && user_signed_in?)   %>

      <%= content_tag :div, :id => 'new_comment_form' do %>
          <h5><%= t(:post_a_comment) -%></h5>
          <%= form_for [@bill, comment = @bill.comments.build(:name => current_user_field(:name, ''), :email => current_user_field(:email, ''))] do |f| %>

              <%= render :partial => '/comments/comment_fields',
                         :locals => {:f => f, :commentable => @bill, :comment => comment}
              %>
          <% end %>
      <% end %>
  <% end %>
  <!-- add comment here -->
</div>

<p>
  <b>Title:</b>
  <%= @bill.bill_title %>
</p>

<p>
  <b>Bill state:</b>
  <%= @bill.bill_state %><!-- error checking? -->
</p>

<p>
  <b>Last action</b>
  <%= last_action(@bill) %>
</p>

<% unless @bill.summary.empty? %>
    <p>
      <b>Summary:</b>
      <%= @bill.summary %>
    </p>
<% end %>
<!-- TODO clean up the old way of presenting actions -->
<p>
  <b>Last action on:</b>
  <%= @bill.bill_actions.first.first %> |
  <%= @bill.bill_actions.first.last %>
</p>

<p>
  <b>Sponsor:</b>
  <%= link_to @bill.sponsor.full_title, legislator_path(@bill.sponsor) %>
</p>

<p>
  <b>Cosponsors count:</b>
  <%= @bill.cosponsors_count %>
</p>

<p>
  <b>Bill html:</b>
  <%= @bill.bill_html.html_safe if @bill.bill_html %>
</p>

<p>
  <b>Summary word count:</b>
  <%= @bill.summary_word_count %>
</p>

<p>
  <b>Text word count:</b>
  <%= @bill.text_word_count %>
</p>

<p>
  <b>State:</b>
  <%= @bill.bill_state %>
</p>

<p>
  <b>Text updated on:</b>
  <%= @bill.text_updated_on %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) if can? :edit, Bill %> |
<%= link_to 'Back', bills_path %>
