<p id="notice"><%= notice %></p>

<% title @bill.title %>

<%= determine_vote(current_user).html_safe %>

<%# unless @bill.tally.empty? %>
<p>
  <b>Tally:</b>
  <%= @bill.descriptive_tally.html_safe %>
</p>
<%# end %>

<% if @bill.long_title %>
<p>
  <b>Official title:</b>
  <%= @bill.short_title %>
</p>
<% end %>

<% if @bill.summary.match(/\w+/) %>
<p>
  <b>Summary:</b>
  <%= @bill.summary %>
</p>
<% end %>

<p>
  <b>Last action on:</b>
  <%= @bill.bill_actions.first.first %> |
  <%= @bill.bill_actions.first.last %>
</p>

<p>
  <b>Sponsor:</b>
  <%= link_to @bill.sponsor.full_title, legislator_path(@bill.sponsor) %>
</p>

<p>
  <b>Cosponsors count:</b>
  <%= @bill.cosponsors_count %>
</p>

<p>
  <b>Bill html:</b>
  <%= @bill.bill_html.html_safe %>
</p>

<p>
  <b>Summary word count:</b>
  <%= @bill.summary_word_count %>
</p>

<p>
  <b>Text word count:</b>
  <%= @bill.text_word_count %>
</p>

<p>
  <b>State:</b>
  <%= @bill.bill_state %>
</p>

<p>
  <b>Text updated on:</b>
  <%= @bill.text_updated_on %>
</p>



<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
