<% title "Legislators" %>

<%= will_paginate @legislators %>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>State</th>
    <th>Party</th>
  </tr>

<% @legislators.each do |legislator| %>
  <tr>
    <td><%= link_to legislator.full_name, legislator %></td>
    <td><%= legislator.title %></td>
    <td><%= legislator.district %></td>
    <td><%= legislator.state %></td>
    <td><%= legislator.party %></td>
    <td><%#= link_to 'Edit', edit_legislator_path(legislator) %></td>
    <td><%#= link_to 'Destroy', legislator, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New Legislator', new_legislator_path %>
