-title "House District/Legislators"

%p{:style => "text-align: center"}
  %b= "112th Congress"

= form_tag legislators_path, :method => 'get' do
  %p.search{:align => "center"}
    = text_field_tag :legislator_search, params[:legislator_search]
    = submit_tag "Search", :name => nil

%table.center{:align => "center"}
  %tr
    %th= sortable "district"
    %th= sortable "full_name", "Rep. Name"
    %th Rep. Picture
    %th= sortable "party", "Rep. Party"
  - @legislators.each do |legislator|
    %tr
      %td= "#{legislator.state} #{legislator.district}"
      -#this needs to be last_name, first_name at some point
      %td= link_to legislator.full_name, legislator
      %td= image_tag legislator.image_location_small
      %td= legislator.party

= will_paginate @legislators

%p{:style => "text-align: center"}
  = "Roll Call"
  = form_tag bills_path, :method => 'get' do
  %p.search{:align => "center"}
    = text_field_tag :bill_search, params[:bill_search]
    = submit_tag "Search", :name => nil


%table.center{:align => "center"}
  %tr
    %th Bill
    %th Congressional Vote
    %th Result
  - @bills.each do |bill|
    %tr
      %td= link_to bill.short_title, bill_path(bill)
      %td= "something like bill.display_results"
      %td= "bill.result"

= will_paginate @bills

-#<!--Need to add Comments section-->
-#<%#= link_to 'New Legislator', new_legislator_path %>
