<p id="notice"><%= notice %></p>

<% title @legislator.full_name %>

<%= image_tag @legislator.image_location %>

<p>
<%= @legislator.state %> &nbsp;
<%= @legislator.district %>
</p>

<%#= link_to 'Edit', edit_legislator_path(@legislator) %> |
<%= link_to 'Back', legislators_path %>
