%p#notice= notice
- title @title

%p.center
  = image_tag @legislator.image_location_medium

%p.center
  = @legislator.party

%p.center Roll Call Popularity Search

%br/

= paginate @bills

%table.center
  %tr
    %th.first_column Bill
    %th= @district ? "#{@legislator.state} #{@legislator.district}" : @legislator.state
    %th= @legislator.last_name
    %th Result
  - @legislator.bills.each do |bill|
    %tr
      %td= link_to bill.bill_title, bill_path(bill)
      %td= short_tally(@polco_group.get_votes_tally(bill))
      %td= bill.find_member_vote(@legislator) == :aye ? "For" : "Against"
      %td= bill.passed? ? "Passed" : "Failed"

%br/
%p{:align => "center"}
  %b= "Group Members"
  = "Drop-Down Box Search"

%table.center{:align => "center"}
  %tr
    %th Name
    %th Pic
    %th Member Since
  - @members.each do |u|
    %tr
      %td= u.name
      %td= image_tag u.avatar
      %td= u.created_at.stamp("Oct, 1999")

%br/
%p.center
  %b Group Followers
%p Drop-Down Box Search
- unless @followers.blank?
  %table.center{:align => "center"}
    %tr
      %th Name
      %th Pic
      %th Member Since
    - @followers.each do |u|
      %tr
        %td= u.name
        %td= image_tag u.avatar_url(:thumb)
        %td= u.created_at.stamp("Oct, 1999")
- else
  This Group has no followers.