%div#user_comment_region
  %b Comments
  - if polco_group.comments.any?
    = content_tag :div, :id => 'comments' do
      %h5= t(:number_of_comments, :count => polco_group.comments.count)
      = render :partial => polco_group.comments, :locals => {:commentable => polco_group, :path_components => polco_group}
  - if true # polco_group.blog.allow_public_comments || (polco_group.blog.allow_comments && user_signed_in?)
    = content_tag :div, :id => 'new_comment_form' do
      %h5= t(:post_a_comment)
      = form_for [polco_group, comment = polco_group.comments.build(:name => current_user_field(:name, ''), :email => current_user_field(:email, ''))] do |f|
        = render :partial => '/comments/comment_fields', :locals => {:f => f, :commentable => polco_group, :comment => comment}