-title "House District/Legislators"

%p.center
  %b= "112th Congress"

= form_tag legislators_path, :method => 'get' do
  %p.search{:align => "center"}
    = text_field_tag :legislator_search, params[:legislator_search]
    = submit_tag "Search", :name => nil

%table.center{:align => "center"}
  %tr
    %th= sortable "district"
    %th= sortable "full_name", "Rep. Name"
    %th Rep. Picture
    %th= sortable "party", "Rep. Party"
  - @legislators.each do |legislator|
    %tr
      %td= "#{legislator.state} #{legislator.district}"
      -#this needs to be last_name, first_name at some point
      %td= link_to legislator.full_name, legislator
      %td= image_tag legislator.image_location_small
      %td= legislator.party

= paginate @legislators

%p.center
  = "Roll Call"

= form_tag bills_path, :method => 'get' do
  %p.search{:align => "center"}
    = text_field_tag :bill_search, params[:bill_search]
    = submit_tag "Search", :name => nil

%table.center{:align => "center"}
  %tr
    %th Bill
    %th For
    %th Against
    %th Abstain
    %th Result
  - @bills.each do |bill|
    %tr
      %td= link_to bill.bill_title, bill_path(bill)
      - bill_result = bill.members_tally
      %td= bill_result[:ayes]
      %td= bill_result[:nays]
      %td= bill_result[:abstains]
      %td= bill.passed? ? "Yes" : "No"

= paginate @bills

-#<!--Need to add Comments section-->
-#<%#= link_to 'New Legislator', new_legislator_path %>
