-title "Polco Groups"

%br/

=# will_paginate @polco_groups

%p
  things like center should be done in css. i would make multiple columns on this page -- I think using tables is not the
  best way to show data

- if can? :edit, PolcoGroup
  %p
    = current_user.name.capitalize
    , you can edit groups, what you see below looks different than what everyone else sees.

  - @groups.each do |groups|
    %h2
      = groups.first.capitalize
    = will_paginate groups.last
    %table.center{:align => "center"}
      %tr
        %th
          %b= "Name"
        - if can? :edit, groups.last
          %th
          %th
      - groups.last.each do |polco_group|
        %tr
          %td= link_to polco_group.name, polco_group
          - if can? :edit, polco_group
            %td= link_to 'Edit', edit_polco_group_path(polco_group)
            %td= link_to 'Destroy', polco_group, :confirm => 'Are you sure?', :method => :delete

- if can? :edit, PolcoGroup
  = link_to 'New PolcoGroup', new_polco_group_path
