- title "manage groups"
= simple_form_for :user, :url => update_groups_url do |f|
  = text_area_tag 'joined_groups', @user.joined_groups.all.collect(&:id)
  %ul
    %h2 states
    - PolcoGroup.states.each do |pg|
      %li
        = check_box_tag :joined_groups_ids, pg.id, @user.joined_groups.all.include?(pg), :name => 'user[joined_group_ids][]'
        = pg.name
    %h2 districts
    - PolcoGroup.districts.each do |pg|
      %li
        = check_box_tag :joined_groups_ids, pg.id, @user.joined_groups.all.include?(pg), :name => 'user[joined_group_ids][]'
        = pg.name
    %h2 customs
    - PolcoGroup.customs.each do |pg|
      %li
        = check_box_tag :joined_groups_ids, pg.id, @user.joined_groups.all.include?(pg), :name => 'user[joined_group_ids][]'
        = pg.name

  =# f.input :followed_groups
  = f.submit