<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @polco_group.name %>
</p>

<p>
  <b>Type:</b>
  <%= @polco_group.type %>
</p>
<% if @polco_group.type == :custom %>
    <% if @polco_group.owner %>
    <p>
      <b>Owner:</b>
      <%= @polco_group.owner.name %>
    </p>
    <% end %>

    <%= render :partial => 'comments_subpage', :locals => {:polco_group => @polco_group} %>

    <p>
      <b>Description:</b>
      <%= @polco_group.description %>
    </p>
<% end %>
<%# end custom check %>

<%= show_people(@members, "Members") %>
<%= show_people(@followers, "Followers") %>




<%= link_to 'Edit', edit_polco_group_path(@polco_group) if can? :edit, @polco_group %> |
<%= link_to 'Back', polco_groups_path %>
