<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @polco_group.name %>
</p>

<p>
  <b>Type:</b>
  <%= @polco_group.type %>
</p>


<%= link_to 'Edit', edit_polco_group_path(@polco_group) %> |
<%= link_to 'Back', polco_groups_path %>
