<!-- representative information -->
<p>Based on this address, your district is: <b><%= district %></b></p>

<p>Make this map smaller, overlay their congressional map based on: http://www.govtrack.us/embed/googlemaps.xpd</p>

<p>Give them options to change all of this</p>

<p>show their reps here</p>

<div class="component_float_left_300" style="height:300px;">
<h3>Senior Senator</h3>

<%= senior_senator.full_title %>
</div>
<div class="component_float_left_300" style="height:300px;">
<h3>Junior Senator</h3>

<%= junior_senator.full_title %>
</div>
<div class="component_float_left_300" style="height:300px;">
<h3>Representative</h3>

<%= representative.full_title %>
</div>

<div class="clear_both"></div>

<p>If this isn't correct, you can change that <%= link_to 'here', users_geocode_path %></p>