<p id="notice"><%= notice %></p>

<p>
  <b>Bill id number:</b>
  <%= @vote.bill_id_number %>
</p>

<p>
  <b>Value:</b>
  <%= @vote.value %>
</p>

<p>
  <b>Group type:</b>
  <%= @vote.group_type %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
